.main-signup section{
    margin-top: 180px;
    
}
.main-login section{
    margin-top: 140px;
    
}
.card-signup{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #84fab0;
   
}
.signup{
    
    margin-bottom: 240px;
}

